/* Basic tags */

html {
  height: 100%;
  min-width: 800px;
}

body {
  background: #FBFBFB;
  color: #404040;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  height: 100%;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

a {
  color: #39C;
  text-decoration: none;
}

a.pass {
  color: #036;
  color: #39C;
  font-weight: bold;
}

a.fail {
  color: #C33;
  font-weight: bold;
}

img {
  border: 0px;
}

img.note {
  height: 16px;
  margin: 4px 2px;
  width: 16px;
  vertical-align: middle;
}

p.note {
  margin: 0px;
  padding: 0px;
}

hr {
  border: 0 none;
  border-top: #CCC 1px dashed;
  height: 1px;
}

span.search {
  color: #C33;
}

pre.bbcode {
  display: inline;
}

blockquote.bbcode {
  color: #036;
}

/* Main layers */

table.container {
  background: #ACE;
  border-spacing: 10px;
  height: 100%;
  width: 100%;
}

#logo {
  height: 40px;
  margin-bottom: 11px;
  padding: 8px 0px;
  text-align: center;
}

#version {
  clear: both;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

#noscript {
  border: #C33 2px solid;
  clear: both;
  color: #C33;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  padding: 2px 10px;
  text-align: center;
}

#banner {
  clear: both;
  color: #C33;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px;
}

#copyright {
  color: #404040;
  font-size: 10px;
  height: 15px;
  margin: 5px 10px 0px 10px;
  white-space: nowrap;
}

/* Menu */

ul.mainmenu,
ul.contextmenu,
ul.submenu {
  clear: both;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.mainmenu,
ul.contextmenu {
  background: #FBFBFB;
  border: #808080 1px solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 10px;
}

ul.submenu {
  padding-left: 12px;
}

li.menuitem,
li.menuitem_b,
li.menuitem_m,
li.menuitem_p {
  border: #FBFBFB 1px solid;
  margin: 2px;
}

li.menuitem:hover,
li.menuitem_b:hover,
li.menuitem_m:hover,
li.menuitem_p:hover {
  border-color: #808080;
  color: #000;
}

li.menuitem_b {
  margin-left: 14px;
}

li.menuitem_m,
li.menuitem_p {
  background-position: 4px 3px;
  background-repeat: no-repeat;
  padding-left: 12px;
}

li.menuitem_m {
  background-image: url('../images/minus.png');
}

li.menuitem_p {
  background-image: url('../images/plus.png');
}

a.menuitem {
  color: #404040;
  margin: 2px;
  padding: 0px 5px;
  white-space: nowrap;
}

/* Top line */

#topline {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

#search,
#quickfind {
  float: left;
  margin-right: 10px;
}

#search_box,
#quickfind_box {
  background: #FFF;
  border: #808080 1px solid;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  float: left;
  height: 23px;
  margin: 0px;
  padding: 0px;
}

#search_box {
  width: 408px;
}

#quickfind_box {
  width: 58px;
}

#search_button,
#quickfind_button {
  background-color: #FBFBFB;
  background-image: url('../images/search.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: #808080 1px solid;
  border-left: 0px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  cursor: pointer;
  float: left;
  height: 23px;
  margin: 0px;
  padding: 0px;
  width: 23px;
}

input.search,
input.quickfind {
  background: #FFF;
  border: 0px;
  color: #CCC;
  font-size: 12px;
  height: 21px;
  height: expression('19px');
  margin: 1px;
  padding: 0px 3px;
}

input.search {
  width: 400px;
}

input.quickfind {
  width: 50px;
}

#current_username {
  padding: 3px 0px;
  text-align: right;
}

#logout {
  border: #00F 0px solid;
  float: right;
  margin-left: 10px;
  position: relative;
  right: -2px;
  top: -5px;
}

/* Breadcrumbs */

ul.breadcrumbs {
  background: #FBFBFB;
  border: #808080 1px solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  clear: both;
  float: left;
  font-size: 10px;
  list-style-type: none;
  margin: 1px 0px 10px 0px;
  padding: 0px 4px;
}

li.breadcrumb {
  float: left;
  padding: 2px 5px;
}

li.splitter {
  background-image: url('../images/breadcrumb.png');
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  height: 19px;
  padding: 0px 1px;
  width: 9px;
}

a.breadcrumb {
  color: #404040;
  white-space: nowrap;
}

/* Tabs */

ul.tabs {
  clear: both;
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 1px;
  z-index: 1;
}

li.ftab,
li.btab {
  border: #808080 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  cursor: pointer;
  float: left;
}

li.ftab {
  background: #FBFBFB;
  border-bottom-color: #FBFBFB;
  padding: 3px 10px 1px 10px;
}

li.btab {
  background: #F0F0F0;
  padding: 2px 10px 2px 10px;
}

a.tab {
  color: #404040;
  white-space: nowrap;
}

#simple_content,
#tabbed_content {
  background: #FBFBFB;
  border: #808080 1px solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  clear: both;
  padding: 5px 10px;
  position: relative;
  text-align: justify;
  top: expression('-10px');
}

#tabbed_content {
  border-top-left-radius: 0px;
  -moz-border-radius: 0px 4px 4px 4px;
  -webkit-border-top-left-radius: 0px;
}

/* Charts */

iframe.chart {
  border: #CCC 1px solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 475px;
  margin: 5px 0px;
  padding: 0px;
  width: 100%;
}

/* Button */

input.button {
  background: #FBFBFB;
  border: 1px solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-bottom-color: #808080;
  border-left-color: #D0D0D0;
  border-right-color: #808080;
  border-top-color: #D0D0D0;
  color: #404040;
  height: 23px;
  margin: 5px 2px;
  padding: 2px 10px;
}

input.button:hover {
  background: #FBFBFB;
  border-bottom-color: #404040;
  border-left-color: #A0A0A0;
  border-right-color: #404040;
  border-top-color: #A0A0A0;
  color: #000;
}

input.button:active {
  background: #FFF;
  border-bottom-color: #000;
  border-left-color: #404040;
  border-right-color: #000;
  border-top-color: #404040;
  color: #000;
}

input.button:disabled {
  background: #FBFBFB;
  border-bottom-color: #A0A0A0;
  border-left-color: #E0E0E0;
  border-right-color: #A0A0A0;
  border-top-color: #E0E0E0;
  color: #949494;
}

/* Basic controls */

table.dual,
table.form {
  border-spacing: 0px;
}

table.dual tr,
table.form tr {
  vertical-align: top;
}

td.dual {
  padding: 0px 5px;
  vertical-align: middle;
}

td.label {
  color: #404040;
  font-size: 12px;
  padding: 2px 5px;
  text-align: left;
}

td.text {
  color: #000;
  font-size: 12px;
  padding: 2px 5px;
}

label {
  display: block;
  margin: 6px 5px;
  text-align: left;
}

sup.required,
sup.disabled {
  color: #069;
  margin-left: 5px;
}

label.disabled,
sup.disabled {
  color: #949494;
}

form {
  margin: 0px;
  padding: 0px;
}

fieldset,
input,
select,
textarea {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

fieldset {
  border: #CCC 1px solid;
  margin: 5px 0px 10px 0px;
  padding: 5px 5px 10px 5px;
}

a.toggle
{
  color: #036;
  margin-right: 4px;
}

legend {
  background: #FBFBFB;
  color: #036;
  padding: 0px 5px;
}

input.editbox,
input.password,
input.small,
select,
select.small,
textarea {
  background: #FFF;
  border: #CCC 1px solid;
  color: #404040;
  margin: 5px;
  width: 350px;
}

input.small,
select.small {
  width: 169px;
}

input.checkbox,
input.radio {
  margin: 0px;
  margin-bottom: 3px;
  margin-right: 5px;
  vertical-align: middle;
}

input.check {
  margin: 3px 0px;
  vertical-align: middle;
}

select.dropdown {
  height: 23px;
  margin: 5px 2px;
  vertical-align: top;
  width: 250px;
}
