/* Basic tags */

html {
  height: 100%;
  min-width: 780px;
}

body {
  background: #FBFBFB;
  color: #404040;
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

a {
  color: #00638F;
  text-decoration: none;
}

a.pass {
  color: #00638F;
  font-weight: bold;
}

a.fail {
  color: #C65066;
  font-weight: bold;
}

img {
  border: 0px;
}

p.note {
  background-image: url('../images/note.png');
  background-repeat: no-repeat;
  height: 16px;
  margin: 5px 0px;
  padding: 0px;
  padding-left: 20px;
  vertical-align: middle;
}

hr {
  border: 0 none;
  border-top: #CCC 1px dashed;
  height: 1px;
}

span.search {
  color: #C65066;
}

pre.bbcode {
  display: inline;
}

blockquote.bbcode {
  color: #036;
}

/* Main layers */

table.container {
  background: #F0F0F0;
  height: 100%;
  padding-top: 10px;
  width: 100%;
}

#logo {
  height: 40px;
  margin-bottom: 11px;
  padding: 8px 0px;
  text-align: center;
}

#version {
  clear: both;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

#noscript {
  border: #C65066 2px solid;
  clear: both;
  color: #C65066;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  padding: 2px 10px;
  text-align: center;
}

#banner {
  clear: both;
  color: #C65066;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px;
}

#copyright {
  color: #404040;
  font-size: 10px;
  height: 15px;
  margin: 5px 10px 0px 10px;
  white-space: nowrap;
}

#contentwrapper {
  clear: both;
  padding: 0px 10px;
}

/* Menu */

#mainmenu {
  background-image: url('../images/mainmenu-bg.png');
  background-repeat: repeat-x;
  clear: both;
  height: 50px;
  width: 100%;
}

ul.mainmenu,
ul.contextmenu,
ul.submenu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.mainmenu{
  padding-left: 10px;
}

ul.contextmenu,
ul.submenu {
  clear: both;
  display: block;
  z-index: 20;
}

ul.mainmenu {
  background: #F0F0F0;
}

ul.contextmenu {
  background-color: #E5E5E5;
  background-image: url('../images/contextmenu-bg.png');
  background-repeat: repeat-x;
  border-bottom: 1px solid #F0F0F0;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #F0F0F0;
  border-top: 1px solid #D8D8D8;
  display: none;
  margin: 0px 0px 0px -11px;
  position: absolute;
  line-height: 25px;
}

ul.submenu {
  padding-left: 23px;
  line-height: 25px;
}

li.menuitem {
  float: left;
}

li.menuitem_b {
  margin-left: 14px;
}

li.menuitem_m,
li.menuitem_p {
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding-left: 23px;
}

li.menuitem_m {
  background-image: url('../images/minus.png');
}

li.menuitem_p {
  background-image: url('../images/plus.png');
}

li.mainmenu a {
 float: left;	
}

li.mainmenu-splitter {
  background-image: url('../images/mainmenu-splitter.png');
  float: left;
  height: 50px;
  width: 2px;
}

li.mainmenu-logo {
  float: right;
  margin: 6px 10px;
}

a.menuitem {
  color: #404040;
  margin: 2px;
  padding: 0px 5px;
  text-align: left;
  white-space: nowrap;
}

#mainmenu a.menuitem {
  color: #E8E8E8;
  display: block;
  float: left;
  font-size: 10px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 0px;
  padding: 0px 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

#mainmenu a.menuitem:hover {
  background-image: url('../images/mainmenu-bg-hl.png');
  color: #FBFBFB;
}

/* Toolbar */

#toolbar {
  background-image: url('../images/toolbar-bg.png');
  background-repeat: repeat-x;
  clear: both;
  height: 30px;
  width: 100%;
}

.toolbarsplitt {
  background-image: url('../images/toolbar-splitter.png');
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 2px;
}

.spacer {
  margin-left: 10px;
}

#contextmenu {
  float: left;
}

#toolbarcontextmenu {
  color: #E0E0E0;
  font-size: 10px;
  font-weight: bold;
  line-height: 30px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

#dropdownicon {
  background-image: url('../images/dropdown.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 7px;
}

li.toolbaritem {
  margin: 0px;
  padding: 0px 10px;
}

li.toolbaritem:hover {
  background-image: url('../images/toolbar-bg-hl.png');
}

li.toolbaritem:hover ul {
  display: block;
}

/* Top line */

#topline {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

#search,
#quickfind {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#search_box,
#quickfind_box {
  background: #FBFBFB;
  border: #B0B0B0 1px solid;
  float: left;
  height: 19px;
  margin: 4px 0px 0px 0px;
  padding: 0px;
}

#search_box {
  width: 208px;
}

#quickfind_box {
  width: 58px;
}

#search_button,
#quickfind_button {
  background-color: #FBFBFB;
  background-image: url('../images/search.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: #B0B0B0 1px solid;
  border-left: 0px;
  cursor: pointer;
  float: left;
  height: 19px;
  margin: 4px 0px;
  padding: 0px;
  width: 23px;
}

input.search,
input.quickfind {
  background: #FBFBFB;
  border: 0px;
  color: #404040;
  font-size: 10px;
  height: 17px;
  height: expression('15px');
  margin: 0px 3px;
}

input.search {
  width: 200px;
}

input.quickfind {
  width: 50px;
}

#current_username {
  color: #404040;
  float: left;
  font-size: 10px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 0px 10px;
  text-align: right;
  text-transform: uppercase;
  vertical-align: middle;
}

#logout-wrap {
  float: right;
}

#logout {
  background-image: url('../images/toolbar-bg.png');
  color: #404040;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 10px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100px;
}

#logout:hover {
  background-image: url('../images/toolbar-bg-hl.png');
}

/* Breadcrumbs */

#breadcrumb {
  float: left;
}

ul.breadcrumbs {
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li.breadcrumb {
  float: left;
}

li.splitter {
  background-image: url('../images/breadcrumb.png');
  background-position: center center;
  background-repeat: no-repeat;
  display: table-cell;
  float: left;
  line-height: 30px;
  width: 9px;
}

a.breadcrumb {
  color: #404040;
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 10px;
  vertical-align: middle;
  white-space: nowrap;
}

a.breadcrumb:hover {
  background-image: url('../images/toolbar-bg-hl.png');
}

/* Tabs */

ul.tabs {
  clear: both;
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 1px;
  z-index: 1;
}

li.ftab,
li.btab {
  border: #808080 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  cursor: pointer;
  float: left;
}

li.ftab {
  background-image: url('../images/tab-bg.png');
  background-repeat: repeat-x;
  background-position: bottom;
  border-bottom-color: #FBFBFB;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 10px 1px 10px;
  text-transform: uppercase;
}

li.btab {
  background-image: url('../images/tab-bg2.png');
  border-bottom-color: #954E99;
  border-left-color: #DE8FE0;
  border-right-color: #954E99;
  border-top-color: #DE8FE0;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 10px;
  text-transform: uppercase;
}

li.ftab a.tab {
  color: #404040;
  text-transform: uppercase;
  white-space: nowrap;
}

li.btab a.tab {
  color: #E0E0E0;
  text-transform: uppercase;
  white-space: nowrap;
}

li.btab a.tab:hover {
  color: #FBFBFB;
}

#simple_content,
#tabbed_content {
  background: #FBFBFB;
  border: #808080 1px solid;
  clear: both;
  padding: 5px 10px;
  position: relative;
  text-align: justify;
  top: expression('-10px');
}

/* Charts */

iframe.chart {
  border: #CCC 1px solid;
  height: 475px;
  margin: 5px 0px;
  padding: 0px;
  width: 100%;
}

/* Button */

input.button,
input.button_disabled {
  background-image: url('../images/button-bg.png');
  background-repeat: repeat-x;
  border: 1px solid;
  border-bottom-color: #954E99;
  border-left-color: #DE8FE0;
  border-right-color: #954E99;
  border-top-color: #DE8FE0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #E0E0E0;
  font-size: 10px;
  font-weight: bold;
  height: 23px;
  margin: 3px 3px 3px 0px;
  padding: 2px 10px;
  text-transform: uppercase;
}

input.button:hover {
  background-image: url('../images/button-bg2.png');
  border-bottom-color: #DBA8DC;
  border-left-color: #DBA8DC;
  border-right-color: #DBA8DC;
  border-top-color: #DBA8DC;
  color: #FBFBFB;
}

input.button:active {
  border-bottom-color: #954E99;
  border-left-color: #DE8FE0;
  border-right-color: #954E99;
  border-top-color: #DE8FE0;
  color: #FBFBFB;
}

input.button_disabled {
  background-image: url('../images/button-bg-dis.png');
  border-bottom-color: #E5E5E5;
  border-left-color: #E1E1E0;
  border-right-color: #E5E5E5;
  border-top-color: #E1E1E0;
  color: #808080;
}

/* Basic controls */

table.dual,
table.form {
  border-spacing: 0px;
}

table.dual tr,
table.form tr {
  vertical-align: top;
}

td.dual {
  padding: 0px 5px;
  vertical-align: middle;
}

td.label {
  color: #404040;
  font-size: 12px;
  padding: 2px 5px;
  text-align: left;
}

td.text {
  color: #000;
  font-size: 12px;
  padding: 2px 5px;
}

label {
  display: block;
  margin: 6px 5px;
  text-align: left;
}

span.required,
span.disabled {
  color: #C65066;
  margin-left: 5px;
  margin-top: 3px;
}

label.disabled,
span.disabled {
  color: #949494;
}

form {
  margin: 0px;
  padding: 0px;
}

fieldset {
  border: #CCC 1px solid;
  margin: 5px 0px 10px 0px;
  padding: 5px 5px 10px 5px;
}

a.toggle
{
  color: #036;
  margin-right: 4px;
}

legend {
  background: #FBFBFB;
  color: #036;
  padding: 0px 5px;
}

input.editbox,
input.password,
input.small,
select,
select.small,
textarea {
  background: #FFF;
  border: #CCC 1px solid;
  color: #404040;
  margin: 5px;
  width: 350px;
}

input.small,
select.small {
  width: 169px;
}

input.checkbox,
input.radio {
  margin: 0px;
  margin-bottom: 3px;
  margin-right: 5px;
  vertical-align: middle;
}

input.check {
  margin: 3px 0px;
  vertical-align: middle;
}

select.dropdown {
  height: 23px;
  margin: 3px 10px 0px 0px;
  vertical-align: top;
  width: 250px;
}
